[Unit]
Description=Alicloud DDNS IPv6 Update Service
After=network.target

[Service]
Type=simple
User=lucardo
WorkingDirectory=/home/lucardo/workspace/alicloud-ddns
ExecStart=/usr/bin/python3 /home/lucardo/workspace/alicloud-ddns/src/main.py --running-in-systemd

[Install]
WantedBy=multi-user.target